<h2>Slack認証</h2>
<%#= link_to image_tag('https://api.slack.com/img/sign_in_with_slack.png') , user_slack_omniauth_authorize_path %>
<%= link_to image_tag('sign_in_with_slack.png') , user_slack_omniauth_authorize_path %>