<h2>aboutページ</h2>
<h3>機能</h3>
<%= link_to "本サービスの概要", "http://elecho.hatenablog.com/entry/2017/04/19/023348" %>

<h3>アップデート情報</h3>
<ul>
  <li>3月25日12時：GPA表示機能追加</li>
  <li>3月25日14時：自動でhttpsに転送されるように設定</li>
  <li>3月25日23時：表を評価で表示するように変更、点数登録で違法な値を制限</li>
  <li>3月26日14時半：表の表示・点数登録すべて評価を選択する形式に移行、ページ微修正</li>
  <li>3月27日19時半：「自分の点数」ページにおけるバグ修正</li>
  <li>3月28日7時：「点数更新」ページにおけるバグ修正</li>
  <li>3月31日19時：全ユーザーのGPAを正しい値に強制修正（順位修正のため）</li>
  <li>4月2日0時：「評価の分布」ページ追加</li>
  <li>4月8日1時：点数の計算方法を変更</li>
  <li>4月10日21時半：パスワード忘れた場合、パスワード再設定機能の追加</li>
  <li>4月18日23時：ベーシック認証の方法・範囲を変更</li>
  <li>4月19日3時：「みんなのせいせき」の機能紹介ページへのリンクを追加</li>
  <li>4月22日22時半：評価の分布が見れない問題を修正</li>
</ul>