<span id="sample-font"></span>

<!-- Chart.jsのデフォルト設定 -->
<script type="text/javascript">
  var elem1 = document.getElementById("sample-font");

  // フォントカラー
  Chart.defaults.global.defaultFontColor = window.getComputedStyle(elem1, null).color;
  // フォントファミリー
  Chart.defaults.global.defaultFontFamily = window.getComputedStyle(elem1, null).fontFamily;
  // フォントサイズ
  //Chart.defaults.global.defaultFontSize = 16;
  Chart.defaults.global.defaultFontSize = parseFloat(window.getComputedStyle(elem1, null).fontSize);

  // ブラウズの幅変更時のアニメーションの長さ
  //Chart.defaults.global.responsiveAnimationDuration = 500;
</script>


<h2>各科目の評価の分布</h2>
<ul class="nav nav-tabs">
  <li class="active"><a href="#semester4" data-toggle="tab"><b>2Aセメスター</b></a></li>
  <li><a href="#semester5" data-toggle="tab"><b>3Sセメスター</b></a><li>
  <li><a href="#semester6" data-toggle="tab"><b>3Aセメスター</b></a><li>
</ul>

<div class="tab-content">
  <!-- 2A -->
  <div class="tab-pane active" id="semester4">
    <div class="panel-group">
      <% @subjects.where(semester:4).each do |subject| %> 
        <%= render 'each_subject', subject: subject%>
      <% end %>
    </div>
  </div>
  <!-- 3S -->
  <div class="tab-pane" id="semester5">
    <div class="panel-group">
      <% @subjects.where(semester:5).each do |subject| %> 
        <%= render 'each_subject', subject: subject%>
      <% end %>
    </div>
  </div>
  <!-- 3A -->
  <div class="tab-pane" id="semester6">
    <div class="panel-group">
      <% @subjects.where(semester:6).each do |subject| %> 
        <%= render 'each_subject', subject: subject%>
      <% end %>
    </div>
  </div>
</div>
