<span id="sample-font"></span>
<!-- Chart.jsのデフォルト設定 -->
<script type="text/javascript">
  var elem1 = document.getElementById("sample-font");

  // フォントカラー
  Chart.defaults.global.defaultFontColor = window.getComputedStyle(elem1, null).color;
  // フォントファミリー
  //Chart.defaults.global.defaultFontFamily="'Open Sans', 'Helvetica Neue', Helvetica, 'Arial', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif";
  Chart.defaults.global.defaultFontFamily = window.getComputedStyle(elem1, null).fontFamily;

  // フォントサイズ
  Chart.defaults.global.defaultFontSize = parseFloat(window.getComputedStyle(elem1, null).fontSize);
  //Chart.defaults.global.defaultFontSize = 16;

</script>

<canvas id="myBarChart" height="450" width="600">（※表示にはcanvas要素を解釈可能なブラウザが必要です。）</canvas>


<script type="text/javascript">

  var data = {
    labels: ["優上", "優", "良", "可", "不可", "May", "June", "July"],
    datasets: [
        {
            //label: "My First dataset",
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,
            data: [65, 59, 80, 81, 56, 55, 40, 70],
        }
    ]
};
  var ctx = document.getElementById("myBarChart");
  var myBarChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: data,

  });
</script>


<!--
<canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
-->