<h2>みんなの点数</h2>
<h3>注意</h3>
<ul>
  <li>総合点数は単位数による重率をかけてそのまま積算しています。</li>
  <li>総合点数は可の点数を引くといった処理は行っていません。</li>
</ul>
<h1 class="text-center">まだ未公開です。</h1>
<br>
<h2>機能追加予定</h2>
<ul>
  <li>総合順位、GPA表示</li>
  <li>評価の分布</li>
  <li>優・良・可選択式に移行</li>
</ul>
