<p><%= @resource.email %>さん</p>

<p>パスワード変更のリクエストを受け付けました。</p>

<p><%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token) %></p>

<!--
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
-->

<p>もし本メールに心当たりがない場合は、無視して下さい。</p>
<p>本メールのリンクをクリックして新しいパスワードを登録しない限りパスワードが変更されることはありません。</p>

----------------------------<br>
みんなのせいせき<br>
<%= link_to root_url, root_path %>